<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720844476803-j5oe7gmgppk3t6vt4grfcio5mj43blev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720844476803-j5oe7gmgppk3t6vt4grfcio5mj43blev</string>
	<key>API_KEY</key>
	<string>AIzaSyACQurTdTUbIXlxxfh65YVZTxe8Bug41M8</string>
	<key>GCM_SENDER_ID</key>
	<string>720844476803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appandupChallenge</string>
	<key>PROJECT_ID</key>
	<string>appandup-challenge</string>
	<key>STORAGE_BUCKET</key>
	<string>appandup-challenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720844476803:ios:cb6916999c2c50cb38e6b6</string>
</dict>
</plist>